<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Snippets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item button routerLink="pinterest-layout">
      <ion-icon name="logo-pinterest" slot="start"></ion-icon>
      <ion-label>
        Pinterest Layout
        <p>Pinterest grid image with infinite scroll</p>
      </ion-label>
    </ion-item>
    
    <ion-item button routerLink="virtual-scroll">
      <ion-icon name="swap-vertical" slot="start"></ion-icon>
      <ion-label>
        Virtual Scroll
        <p>User data list with virtual scroll</p>
      </ion-label>
    </ion-item>
    
    <ion-item button routerLink="parallax-image">
      <ion-icon name="images" slot="start"></ion-icon>
      <ion-label>
        Parallax Image
        <p>Scroll out an image behind your content slowly</p>
      </ion-label>
    </ion-item>
    
</ion-content>
