<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Entities
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item button routerLink="authors" class="ion-text-capitalize">
    authors
  </ion-item>
  
  <ion-item button routerLink="books" class="ion-text-capitalize">
    books
  </ion-item>
  
  <ion-item button (click)="resetIntro()" color="tertiary">
    Reset intro
  </ion-item>
  
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="clear" color="light" routerLink="snippets">
      <ion-icon name="rocket" slot="start"></ion-icon>Snippets
    </ion-button>
  </ion-toolbar>
</ion-footer>